<div>
  <ul opt-kind ok-key="filter">
    <li><button type="button" ok-sel="*">All</button></li>
    <li><button type="button" ok-sel=".test">Test</button></li>
    <li><button type="button" ok-sel=".student">Student</button></li>
  </ul>
  <ul id="container" masonry>
    <li ng-repeat="jsonitem in jsonitems" class="masonry-brick {{jsonitem.tags}}" isotope-item>
      <h2>{{jsonitem.title}}</h2>
      <img ng-src="https://farm{{jsonitem.farm}}.staticflickr.com/{{jsonitem.server}}/{{jsonitem.id}}_{{jsonitem.secret}}_n.jpg" />
    </li>
  </ul>
    <pre>

        {{jsonitems | json}}
      </pre>


</div>
