<div>
  <ul opt-kind ok-key="filter">
    <li><button type="button" ok-sel="*">All</button></li>
    <li><button type="button" ok-sel=".test">Test</button></li>
    <li><button type="button" ok-sel=".student">Student</button></li>
  </ul>
  <ul id="container" masonry isotope-container>
    <li ng-repeat="photo in photos" class="masonry-brick {{photo.tags}}" isotope-item>
      <h2>{{jsonitem.title}}</h2>
      <a href="#/photo/{{photo.id}}">
        <img ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_n.jpg" />
      </a>
    </li>
  </ul>
    <pre>

        {{photos | json }}
      </pre>


</div>
